<h5 class="text-light mt-4">{{%include.date%}}</h5>


<a href="{{ site.baseurl}}/{{%include.url%}}"
    class="row no-gutters post-slot rounded border  overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col-auto d-none  d-lg-block">
        <image src="{{ site.baseurl}}/{{%include.cover%}}" height="200" />
    </div>
    <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-light">Article.</strong>
        <h3 class="mb-0 text-light">{{%include.title%}}</h3>
    </div>
</a>